@model DesenvolvendoCRUDdeAnimal.Models.Animal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Animal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ANI_COD" />
            <div class="form-group">
                <label asp-for="NOME" class="control-label"></label>
                <input asp-for="NOME" class="form-control" />
                <span asp-validation-for="NOME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDADE" class="control-label"></label>
                <input asp-for="IDADE" class="form-control" />
                <span asp-validation-for="IDADE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JAU_COD" class="control-label"></label>
                <input asp-for="JAU_COD" class="form-control" />
                <span asp-validation-for="JAU_COD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
